@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark: #42484d;
    --light: #FFFFFF;
    --theme: #91AC8F;
    --font: "Raleway", serif;
    --numberFont: "Roboto", serif;
}

html {
    scroll-behavior: smooth !important;
    font-family: var(--font) !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 100% !important;
}

body {
    font-family: var(--font) !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    color: var(--light) !important;
    width: 100% !important;
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40vh;
    background: rgb(0 0 0 / 25%);
}

header .logo {
    width: 12vh;
}

header .menu-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3vh;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
}

header .menu-list .menu {
    color: var(--light) !important;
    text-decoration: none !important;
}

header .menu-list .menu.active {
    text-decoration: underline !important;
    text-decoration-color: var(--light) !important;
    text-decoration-thickness: 5px !important;
    text-underline-offset: 1vh;
}

header .menu-list .menu-icon {
    display: none;
    color: var(--light);
    text-decoration: none;
}

section {
    height: 100vh;
}

section .section-top {
    background: var(--theme);
    height: 20vh;
}

section .section-content {
    padding: 0 40vh;
}

section .title {
    padding-top: 10vh;
    line-height: 0.9em;
    font-size: 80px;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--dark);
}

section .shortTitle {
    text-transform: uppercase;
    color: var(--light);
    font-size: 60px;
}

section .paragraph {
    width: 60%;
    line-height: 1.6em;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    padding-top: 6vh;
    color: var(--light);
}

#home, #process, #work, #team {
    background: var(--theme);
}

#process .section-top,
#work .section-top,
#team .section-top {
    background: var(--light);
}

#home {
    height: auto !important;
}

#services, #clients, #process .section-top {
    background: var(--dark) !important;
}

#services .title {
    color: var(--theme);
}

#services .title::before {
    content: '';
    width: 7vh;
    border-bottom: 1.5vh solid var(--theme);
    display: flex;
    margin-bottom: 1.5vh;
}

#services .paragraph {
    padding-top: 3vh;
    color: var(--light);
}

#services .services-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2vh;
    padding-top: 8vh;
}

#services .services-list .service {
    cursor: pointer;
}

#services .services-list .service::before {
    content: '';
    width: 7vh;
    border-bottom: 1vh solid var(--theme);
    display: flex;
    margin-bottom: 1vh;
}

#process {
    background: rgb(255 255 255 / 40%) !important;
}

#process .section-content {
    position: relative;
    height: 100%;
    width: 100%;
}

#process img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#process .large-devices {
    display: inline;
}

#process .small-devices {
    display: none;
}

#process .title {
    color: var(--theme);
}

#process .shortTitle {
    color: var(--dark);
}

#process .title::before {
    content: '';
    width: 7vh;
    border-bottom: 1.5vh solid var(--dark);
    display: flex;
    margin-bottom: 1.5vh;
}

#process .paragraph {
    color: var(--dark);
}

#process .paragraph .sub-title {
    margin-bottom: 2vh;
    font-weight: bold;
}

#work {
    height: auto !important;
}

#work .section-top {
    background: #ebeff4;
}

#work .title {
    color: var(--dark);
}

#work .title::before {
    content: '';
    width: 7vh;
    border-bottom: 1.5vh solid var(--dark);
    display: flex;
    margin-bottom: 1.5vh;
}

#work .paragraph {
    padding-top: 3vh;
    color: var(--light);
}

#work form {
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2vh;
    flex-wrap: wrap;
    width: 100%;
}

#work form .form-input {
    width: 48%;
}

#work form .btn {
    background-color: var(--dark) !important;
    color: var(--light) !important;
    border: none !important;
}

#work form .btn:disabled {
    pointer-events: auto;
    cursor: not-allowed;
}

#clients .title {
    color: var(--theme);
    padding-top: 8vh;
}

#clients .title::before {
    content: '';
    width: 7vh;
    border-bottom: 1.5vh solid var(--theme);
    display: flex;
    margin-bottom: 1.5vh;
}

#clients .paragraph {
    padding-top: 3vh;
    color: var(--light);
}

#clients .owl-carousel {
    margin-top: 2vh;
    position: relative;
}

#clients .owl-carousel .client {
    width: 25vh;
    height: 20vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme);
    text-align: center;
}

#clients .owl-carousel .client img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: auto;
}

#clients .owl-carousel .owl-dots {
    display: none;
}

#clients .owl-carousel .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clients .owl-carousel .owl-nav .owl-prev, #clients .owl-carousel .owl-nav .owl-next {
    height: 100%;
    font-size: 2.5rem;
    margin: 0;
    width: 40px;
    background: transparent !important;
}

#contact {
    height: auto !important;
}

#contact .section-top {
    background: var(--dark);
}

#contact .section-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 5vh;
    height: 80%;
}

#contact .section-content .contact {
    width: 50%;
    height: auto;
}

#contact .section-content .map {
    padding-top: 10vh;
    width: 50%;
    height: 100%;
    padding-bottom: 10vh;
}

#contact .title {
    color: var(--dark);
    padding-top: 10vh;
}

#contact .shortTitle {
    color: var(--theme);
}

#contact .title::before {
    content: '';
    width: 7vh;
    border-bottom: 1.5vh solid var(--dark);
    display: flex;
    margin-bottom: 1.5vh;
}

#contact .paragraph {
    width: 90%;
    padding-top: 3vh;
    color: var(--dark);
}

#contact .paragraph a {
    color: var(--dark) !important;
    text-decoration: none !important;
}

footer {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40vh;
    background: var(--dark);
}

footer .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1vh;
}

footer .social-icons img {
    width: 5vh;
}

.service-modal .modal-body {
    padding: 2vh;
    min-height: 20vh;
    max-height: 70vh;
    color: var(--theme) !important;
}

.service-modal .modal-body .btn-close {
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.service-modal .modal-body .modal-title {
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1vh;
}

.service-modal .modal-body .modal-paragraph {
    text-align: justify;
}

.service-modal .modal-body .modal-paragraph p {
    padding-top: 1vh;
    font-size: 16px;
    text-align: justify;
    margin: 0;
    margin-top: 1vh;
}

.service-modal .modal-body .modal-paragraph .quote {
    font-weight: 600;
    font-style: italic;
    margin-top: 1vh;
}

.offcanvas {
    background: var(--dark) !important;
    color: var(--light) !important;
}

.offcanvas-body {
    padding: 1vh !important;
}

.offcanvas-body .menu {
    background: transparent !important;
    color: var(--light) !important;
    border: none !important;
    text-transform: uppercase;
}

.offcanvas-body .menu.active {
    text-decoration: underline !important;
    text-decoration-color: var(--light) !important;
    text-decoration-thickness: 5px !important;
    text-underline-offset: 1vh;
}

/* Common Classes */
.quote {
    font-style: italic;
    font-size: 15px;
}

.number-font {
    font-family: var(--numberFont) !important;
}

/* Laptop Styles */
.laptop header, .laptop footer, .laptop section .section-content {
    padding: 0 25vh !important;
}

.laptop section .section-content .title {
    font-size: 60px !important;
}

.laptop section .section-content .title .shortTitle {
    font-size: 45px !important;
}

.laptop section .section-content .paragraph {
    width: 90% !important;
}

.laptop #process .section-content .paragraph {
    width: 65% !important;
}

.laptop #contact .section-content {
    padding: 0 15vh !important;
}

/* Tablet Styles */
.tablet header, .tablet footer, .tablet section .section-content {
    padding: 0 10vh !important;
}

.tablet section .section-content .title {
    font-size: 60px !important;
}

.tablet section .section-content .title .shortTitle {
    font-size: 45px !important;
}

.tablet section .section-content .paragraph {
    width: 90% !important;
}

.tablet #process .section-content .paragraph {
    width: 60% !important;
}

.tablet #contact .section-content {
    padding: 0 5vh !important;
}

.tablet #contact .paragraph {
    font-size: 16px !important;
}

/* Large Mobile Styles */
.large-mobile .menu-list .menu-icon {
    display: inline;
}

.large-mobile .menu-list .menu {
    display: none;
}

.large-mobile header, .large-mobile footer, .large-mobile section .section-content {
    padding: 0 5vh !important;
}

.large-mobile section .section-content .title {
    font-size: 50px !important;
}

.large-mobile section .section-content .title .shortTitle {
    font-size: 25px !important;
}

.large-mobile section .section-content .paragraph {
    padding-top: 3vh;
    width: 100% !important;
}

.large-mobile #services .services-list {
    padding-top: 3vh;
    flex-wrap: wrap;
}

.large-mobile #services .services-list .service {
    width: 48%;
    margin-bottom: 2vh;
}

.large-mobile #process {
    height: auto !important;
}

.large-mobile #process .section-content {
    background: var(--light);
}

.large-mobile #process .section-content img {
    position: static;
    object-fit: cover;
    object-position: center;
    height: 50%;
}

.large-mobile #process .large-devices {
    display: none;
}

.large-mobile #process .small-devices {
    display: inline;
}

.large-mobile #work .section-top {
    background: var(--light);
}

.large-mobile #work form .form-input {
    width: 100%;
}

.large-mobile #clients .client {
    width: 100%;
}

.large-mobile #contact .section-content {
    height: auto !important;
    column-gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.large-mobile #contact .section-content .contact, .large-mobile #contact .section-content .map {
    width: 100%;
}

.large-mobile #contact .section-content .map {
    padding: 5vh 0;
}

.large-mobile #contact .section-content .map iframe {
    height: 50vh;
}

.large-mobile #contact .paragraph {
    font-size: 16px !important;
}

.large-mobile footer {
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}

/* Large Mobile Styles */
.large-mobile .menu-list .menu-icon {
    display: inline;
}

.large-mobile .menu-list .menu {
    display: none;
}

.large-mobile header, .large-mobile footer, .large-mobile section .section-content {
    padding: 0 5vh !important;
}

.large-mobile section .section-content .title {
    font-size: 50px !important;
}

.large-mobile section .section-content .title .shortTitle {
    font-size: 25px !important;
}

.large-mobile section .section-content .paragraph {
    padding-top: 3vh;
    width: 100% !important;
}

.large-mobile #services .services-list {
    padding-top: 3vh;
    flex-wrap: wrap;
}

.large-mobile #services .services-list .service {
    width: 48%;
    margin-bottom: 2vh;
}

.large-mobile #process .section-content img {
    height: 40%;
}

.large-mobile #work form .form-input {
    width: 100%;
}

.large-mobile #clients .client {
    width: 100%;
}

.large-mobile #contact .section-content {
    height: auto !important;
    column-gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.large-mobile #contact .section-content .contact, .large-mobile #contact .section-content .map {
    width: 100%;
}

.large-mobile #contact .section-content .map {
    padding: 5vh 0;
}

.large-mobile #contact .section-content .map iframe {
    height: 50vh;
}

.large-mobile #contact .paragraph {
    font-size: 16px !important;
}

.large-mobile footer {
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}

.large-mobile footer .follow-us {
    display: none;
}

/* Mobile Styles */
.mobile section .section-content .title {
    font-size: 45px !important;
}

.mobile section .section-content .title .shortTitle {
    font-size: 20px !important;
}

.mobile #services .services-list .service {
    width: 45%;
}

/* Small Mobile Styles */
.small-mobile section .section-content .title {
    font-size: 40px !important;
}

.small-mobile section .section-content .title .shortTitle {
    font-size: 17px !important;
}

.small-mobile section .section-content .paragraph {
    font-size: 14px !important;
}

.small-mobile #services {
    height: auto !important;
}

.small-mobile #services .services-list .service {
    width: 45%;
}